* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.brand {
  width: 7.5rem;
  height: auto;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 1;
}

#hero {
  background: url("../assets/images/banner-initial.png");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 72vh;
}

.btn-custom {
  background-color: #e50914;
  color: white;
  padding: 1.325rem 2rem;
  border: none;
  transition: background-color 0.3s ease, filter 0.3s ease;
}

.btn-custom:hover {
  background-color: #b80811;
}

.accordion-button {
  background-color: #303030;
}

.accordion-button:not(.collapsed) {
  background-color: #303030;
}

.accordion-item {
  border: none;
}

.accordion-button::after {
  content: "";
  background-color: #303030;
  background-image: url("../assets/images/add.svg");
  background-repeat: no-repeat;
  transition: transform 0.3s ease;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("../assets/images/add.svg");
  transform: rotate(180deg);
}
